<a href="https://colab.research.google.com/github/2403a51447-png/Shashank-/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

my_list = [1, 2, 3, "apple", "banana"]
print("Created List:", my_list)

my_tuple = (10, 20, "orange", "grape")
print("Created Tuple:", my_tuple)

my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print("Created Dictionary:", my_dict)

data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'City': ['London', 'Paris', 'Berlin', 'Rome']
}
df_from_dict = pd.DataFrame(data)
print("\nDataFrame from Dictionary:")
print(df_from_dict)

list_of_lists_data = [
    ['Milk', 2.50, 10],
    ['Bread', 1.80, 5],
    ['Eggs', 3.20, 12]
]
df_from_list_of_lists = pd.DataFrame(list_of_lists_data, columns=['Item', 'Price', 'Quantity'])
print("\nDataFrame from List of Lists:")
print(df_from_list_of_lists)

list_of_tuples_data = [
    ('Laptop', 1200),
    ('Mouse', 25),
    ('Keyboard', 75)
]
df_from_list_of_tuples = pd.DataFrame(list_of_tuples_data, columns=['Product', 'Cost'])
print("\nDataFrame from List of Tuples:")
print(df_from_list_of_tuples)

Created List: [1, 2, 3, 'apple', 'banana']
Created Tuple: (10, 20, 'orange', 'grape')
Created Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

DataFrame from Dictionary:
    Name  Age    City
0   John   28  London
1   Anna   24   Paris
2  Peter   35  Berlin
3  Linda   32    Rome

DataFrame from List of Lists:
    Item  Price  Quantity
0   Milk    2.5        10
1  Bread    1.8         5
2   Eggs    3.2        12

DataFrame from List of Tuples:
    Product  Cost
0    Laptop  1200
1     Mouse    25
2  Keyboard    75